# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
source/.vscode/tasks.json
source/.vscode/c_cpp_properties.json
/source/.bin
/source/.vs
*.user
source/TwsWebSocket.json
tests/*
source/.vscode/settings.json
source/.vscode/launch.json
source/.vscode/settings.json

setup/Release/*
setup/Debug/*

*.diff
/source/UpgradeLog*.htm
jde/*
source/packages/*
*.log
